#text
{
    margin-left: 680px;
    margin-top: -60px;
    margin-right: 300px;
    font-size: .8em;
}

h1
{
    margin-left: 300px;
}

#map
{
    margin-left: 350px;
}

aside
{
    float:right;
    margin-top: -350px;
    margin-right: 300px;
}

a
{
    display: block;
    font-size: .8em;
    text-decoration: none;
}

a:hover
{
 text-decoration: underline;
 font-weight: bold;
}

footer
{
    font-size: .7em;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 80px;
}
