#text
{
    margin-left: 680px;
    margin-top: -60px;
    margin-right: 300px;
    font-size: .8em;
}

h1
{
    margin-left: 300px;
}

#map
{
    margin-left: 350px;
}

aside
{
    float:right;
    margin-top: -350px;
    margin-right: 300px;
}

a
{
    display: block;
    font-size: .8em;
}

footer
{
    font-size: .7em;
    margin:100px 300px 300px;
}
