#text
{
    margin-left: 680px;
    margin-top: -60px;
    margin-right: 300px;
    font-size: .8em;
}

h1
{
    margin-left: 300px;
}

#map
{
    margin-left: 350px;
}

a
{
    margin-left: 800px;
    display: inline;
    margin-top: -80px;
}

footer
{
    margin-left: 300px;
    margin-right: 300px;
    font-size: .7em;
}
